.App {
  text-align: center;
}

.Game {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Game-info {
  width: 33%;
}

.Item  {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.Button {
  font-size: 10px;
  width: 33%;
  border-radius: 10px;
  padding: 5px;
}